fastapi==0.115.0
uvicorn[standard]==0.30.1

# Database
SQLAlchemy==2.0.34
alembic==1.13.2
psycopg2-binary==2.9.9 

# Authentication & Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
passlib[argon2]

# Environment variables
python-dotenv==1.0.1
pydantic==2.9.1
pydantic-settings==2.5.2

# For async database (optional, if you plan to support async SQLAlchemy)
# asyncpg==0.29.0

# Utilities
email-validator==2.1.1
